.group-list {
  display: flex;
  flex-direction: column;

}

.group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.group-details {
  flex: 1;
  margin-left: 1rem;
  padding: 0.5rem 0;
}
