<div class="group-list">
  <h2>Choisir un groupe:</h2>
  <div tuiGroup style="display: flex; flex-direction: column; margin-bottom: 1rem" [collapsed]="true" orientation="vertical">
    <tui-island [size]="'s'" *ngFor="let group of groups" class="group-item">
      <tui-avatar-stack
      [direction]="'left'">
        <tui-avatar
          [round]="true"
          [src]="group.host.picture ? group.host.picture : group.host.name | tuiInitials"
          [style.background]="group.host.name | tuiAutoColor"
        ></tui-avatar>
        <tui-avatar
          [round]="true"
          *ngFor="let user of group.users"
          [src]="user.picture ? user.picture : user.name | tuiInitials"
          [style.background]="user.name | tuiAutoColor"
        ></tui-avatar>
      </tui-avatar-stack>
      <div class="group-details">
        <h3 style="margin: 0 0 0.5rem;">Groupe de {{ group.host.name }}</h3>
        <tui-badge [value]="group.status" [status]="group.status === 'En cours' ? 'neutral' : 'success'"></tui-badge>
      </div>
      <button tuiButton size="s" (click)="socketService.joinGroup(group.id)">
        Rejoindre
      </button>
    </tui-island>
  </div>
  <!-- ... Autre code ... -->
  <a routerLink="/create-group" tuiButton size="m">Créer un groupe</a>
  <!-- ... Autre code ... -->

</div>
