<div class="group-list-container">
  <h2 class="choose-text">Choisir un groupe:</h2>
  <div class="group-list">

    <tui-accordion>

      <tui-accordion-item *ngFor="let group of groups">
        <div class="order-header">
          <div class="order-pic">
            <tui-avatar
              [round]="true"
              [src]="group.host.picture ? group.host.picture : group.host.name | tuiInitials"
              [style.background]="group.host.name | tuiAutoColor">
            </tui-avatar>
          </div>
          <div class="order-user">
            <div class="order-title">{{ group.host.name }}</div>
            <div class="order-subtitle">
              <span>{{ group.deliveryInfos.address }}</span>
            </div>
          </div>
        </div>

        <ng-template tuiAccordionItemContent>
          <div class="accordion-content">

            <!-- Avatars of the group members -->
            <div class="member-section">
              <tui-avatar-stack [direction]="'left'">
                <tui-avatar
                  [round]="true"
                  *ngFor="let user of group.users"
                  [src]="user.picture ? user.picture : user.name | tuiInitials"
                  [style.background]="user.name | tuiAutoColor">
                </tui-avatar>
              </tui-avatar-stack>
              <span>{{ group.users.length }} membres</span>
            </div>

            <!-- Delivery Card using tui-island -->
            <tui-island class="delivery-card">
              <div class="card-icon">
                <tui-svg [src]="'tuiIconTruckLarge'"></tui-svg>
              </div>
              <div class="card-details">
                <h4>Adresse de livraison</h4>
                <p>{{ group.deliveryInfos.address }}</p>
                <p>{{ group.deliveryInfos.address2 }}</p>
                <span>Restaurant: {{ group.deliveryInfos.idRestaurant }}</span>
              </div>
            </tui-island>

            <!-- Join Group Button -->
            <div class="join-button-section">
              <button tuiButton (click)="socketService.joinGroup(group.id)">
                Rejoindre
              </button>
            </div>
          </div>
        </ng-template>

      </tui-accordion-item>
    </tui-accordion>

    <div class="create-group-button-section">
      <a routerLink="/create-group" tuiButton>Créer un groupe</a>
    </div>
  </div>
  <div class="create-group-button-section">
    <a routerLink="/create-group" tuiButton>Créer un groupe</a>
  </div>
</div>
