<div class="cart" *ngIf="userService.user && loaded">
  <tui-accordion class="container" [closeOthers]="false">
    <tui-accordion-item *ngIf="orderService.getLocalOrder().items.length > 0" [open]="true">
      <div class="order-header">
        <div class="order-pic">
          <tui-avatar class="order-icon" [round]="true"
                      [src]="getLocalUser()?.profilePicture ? getLocalUser()?.profilePicture || '' : (getLocalUser()?.firstName + ' ' + getLocalUser()?.lastName) || '' | tuiInitials"
                      [style.background]="(getLocalUser()?.firstName + ' ' + getLocalUser()?.lastName) || '' | tuiAutoColor"></tui-avatar>
        </div>
        <div class="order-user">
          <div class="order-title">{{ getLocalUser()?.firstName }}</div>
          <div class="order-status"
               [ngClass]="{'order-status-pending': orderService.getLocalOrder().status === OrderStatus.EN_COURS, 'order-status-confirmed': orderService.getLocalOrder().status === OrderStatus.CONFIRMEE}">{{ orderService.getLocalOrder().status }}</div>
        </div>
        <tui-money class="order-amount" [value]="getTotalForOrderWithRemise(orderService.getLocalOrder())"
                   [currency]="'EUR'"></tui-money>
      </div>

      <ng-template tuiAccordionItemContent>
        <div *ngFor="let product of orderService.getLocalOrder().items">
          <div class="product-info">
            <div class="product-details">
              <div
                tuiGroup
                class="group"
                [collapsed]="true"
                [rounded]="true"
                style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-right: 1rem">
                <button
                  tuiButton
                  appearance="accent"
                  type="button"
                  size="s"

                  (click)="orderService.remove(product.code)"
                >-
                </button>
                <tui-input-number
                  [tuiTextfieldSize]="'s'"
                  [ngModel]="orderService.getQte(product.code)"
                  [readOnly]="true">
                  <input
                    tuiTextfield
                    style="text-align: center; display: flex; justify-content: center; align-items: center; padding: 0; font-weight: bold"
                  />
                </tui-input-number>
                <button
                  tuiButton
                  appearance="primary"
                  type="button"
                  size="s"

                  (click)="orderService.add(product.code)"
                >+
                </button>
              </div>
              <!--<span class="product-quantity"><strong>{{ product.qte }}</strong></span>-->
              <tui-line-clamp class="product-name" [content]="getName(product.code)"
                              [linesLimit]="1"></tui-line-clamp>
              <tui-money class="product-price" [value]="getTotalForProductWithRemise(product)"
                         [currency]="'EUR'"></tui-money>
            </div>
          </div>
        </div>
        <div class="product-info">
          <div class="product-details">
            <tui-line-clamp class="product-name" [content]="'Frais de livraison'"
                            [linesLimit]="1"></tui-line-clamp>
            <tui-money class="product-price"
                       [value]="orderService.isHost() ? getDeliveryHostCost() : getDeliveryCost()"
                       [currency]="'EUR'"></tui-money>
          </div>
        </div>
        <tui-textarea
          [expandable]="true"
          [formControl]="observationsForm"
        >
          Remarques et observations
        </tui-textarea>
      </ng-template>

    </tui-accordion-item>
    <tui-accordion-item *ngFor="let order of orders">
      <div class="order-header">
        <div class="order-pic">
          <tui-avatar class="order-icon" [round]="true"
                      [src]="orderService.getUser(order.email)?.profilePicture ? orderService.getUser(order.email)?.profilePicture || '' : (orderService.getUser(order.email)?.firstName + ' ' + orderService.getUser(order.email)?.lastName) || '' | tuiInitials"
                      [style.background]="(orderService.getUser(order.email)?.firstName + ' ' + orderService.getUser(order.email)?.lastName) || '' | tuiAutoColor"></tui-avatar>
        </div>
        <div class="order-user">
          <div class="order-title">{{ orderService.getUser(order.email)?.firstName }}</div>
          <div
            [ngClass]="{'order-status': true,'order-status-pending': order.status === OrderStatus.EN_COURS, 'order-status-confirmed': order.status === OrderStatus.CONFIRMEE}">{{ order.status }}</div>
        </div>
        <tui-money class="order-amount" [value]="getTotalForOrderWithRemise(order)"
                   [currency]="'EUR'"></tui-money>
      </div>

      <ng-template tuiAccordionItemContent>
        <div *ngFor="let product of order.items">
          <div class="product-info">
            <div class="product-details">
              <span class="product-quantity"><strong>{{ product.qte }}</strong></span>
              <tui-line-clamp class="product-name" [content]="getName(product.code)"
                              [linesLimit]="1"></tui-line-clamp>
              <tui-money class="product-price" [value]="getTotalForProductWithRemise(product)"
                         [currency]="'EUR'"></tui-money>
            </div>
          </div>
        </div>
        <div class="product-info">
          <div class="product-details">
            <tui-line-clamp class="product-name" [content]="'Frais de livraison'"
                            [linesLimit]="1"></tui-line-clamp>
            <tui-money class="product-price"
                       [value]="orderService.isUserHost(order.email) ? getDeliveryHostCost() : getDeliveryCost()"
                       [currency]="'EUR'"></tui-money>
          </div>
        </div>
        <tui-textarea
          [expandable]="true"
          [formControl]="getObservationsByOrder(order)"
          [readOnly]="true">Remarques et observations
        </tui-textarea>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>

  <!--<tui-block-status *ngIf="getTotalCost() === 0" [card]="true"
                    style="height: 100%; display: flex; justify-content: center; align-items: center">
    <img
      alt="not found"
      src="./assets/images/empty-cart.svg"
      tuiSlot="top"
      class="image"
    />

    <h4>Panier vide</h4>

    Essayez d'ajouter des produits au panier
  </tui-block-status>-->
</div>

<div class="order-container">
  <div class="total">
    <tui-money class="total-amount" [value]="getTotalCostWithRemise() + 0.99 || 0" [currency]="'EUR'"></tui-money>
  </div>
  <button tuiButton appearance="outline"
          *ngIf="orderService.isHost() && orderService.getCurrentOrder()?.status === OrderStatus.CONFIRMEE && observationsForm.value === orderService.getCurrentOrder()?.observations"
          (click)="orderClick()" icon="tuiIconShoppingCartLarge">Commander
  </button>
  <button tuiButton
          *ngIf="!orderService.isHost() || (orderService.isHost() && (observationsForm.value !== orderService.getCurrentOrder()?.observations || orderService.getCurrentOrder()?.status !== OrderStatus.CONFIRMEE))"
          (click)="confirmOrder()"
          [disabled]="orderService.getCurrentOrder()?.status === OrderStatus.CONFIRMEE && observationsForm.value === orderService.getCurrentOrder()?.observations">
    Confirmer
  </button>
</div>

<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Confirmer la commande', dismissible: true}"
  [(tuiDialog)]="openConfirmDialog"
>

  <p class="description-text">Ces personnes n'ont pas encore confirmé leur commande:</p>

  <div class="users">
    <div class="user" *ngFor="let user of getUnconfirmedUsers()">
      <tui-avatar class="user-icon" [round]="true"
                  [src]="user.profilePicture ? user.profilePicture || '' : (user.firstName + ' ' + user.lastName) || '' | tuiInitials"
                  [style.background]="(user.firstName + ' ' + user.lastName) || '' | tuiAutoColor"></tui-avatar>
      <div class="user-name">{{ user.firstName }}</div>
      <button tuiButton size="s" appearance="secondary-destructive" style="margin-left: auto" (click)="kickUser(user)">
        Exclure
      </button>
    </div>
  </div>

  <p class="description-text">Voulez-vous forcer la commande ?</p>
  <div class="submit-button-section">
    <button tuiButton type="button" appearance="flat" (click)="closeDialog(observer)">Annuler</button>
    <button tuiButton type="button" (click)="order()">Commander</button>
  </div>


</ng-template>
