@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.category-link {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.2s ease-out;
}

.category-link:focus, .category-link:active, .category-link:hover {
  color: var(--tui-text-03-night) !important;
}

.category-list {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.category-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.category-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cat-active, .cat-active:active, .cat-active:hover, .cat-active:focus {
  font-weight: bold;
  color: white !important;
  border-bottom: solid 0.2rem white;
  border-radius: 0;
}

.product {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
}

.product img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
}

.product-details {
  flex-grow: 1;
}

.product-action {
  display: flex;
  align-items: center;
}

.cart-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.loader {
  height: 100vh;
}

.gris {
  filter: grayscale(100%);
}

