<div style="width: 100%; position: fixed; top: 2.75rem; background: var(--tui-base-01); z-index: 100">
    <!-- Liste des catégories en haut -->
    <div class="category-list" id="categories-container">
        <a tuiLink *ngFor="let item of sushiList" (click)="scrollToCategory(item.code, $event)" class="category-link" [class.cat-active]="item.code === activeCategory">
            {{ item.code }}
        </a>
    </div>
</div>

<div style="padding-top: 5rem; padding-bottom: 3rem">
    <!-- Liste des produits -->
    <div *ngFor="let item of sushiList" [id]="item.code" class="cat-container">
        <div style="height: 1rem"></div>
        <h2 style="padding-left: 1rem">{{ item.code }}</h2>
        <div class="product" *ngFor="let sushi of item.produits">
            <img [src]="'https://83.easysushi.fr/images/commander/' + sushi.img" [alt]="sushi.nom">
            <div class="product-details">
                <h3 [innerHTML]="sushi.nom" style="margin: 0"></h3>
                <div style="display: flex; flex-direction: column">
                    <span>{{ sushi.cdt }}</span>
                    <span>
                        Prix:
                        <tui-money [value]="sushi.prix" currency="EUR"></tui-money>
                    </span>
                </div>

            </div>
            <div class="product-action">
                <button
                        tuiButton
                        appearance="primary"
                        type="button"
                        size="m"
                        style="width: 3rem"
                        *ngIf="orderService.getQte(sushi.code) === 0"
                        (click)="orderService.add(sushi.code)"
                >
                    +
                </button>
                <div
                        orientation="vertical"
                        tuiGroup
                        class="group"
                        [collapsed]="true"
                        [rounded]="true"
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 3rem;"
                        *ngIf="orderService.getQte(sushi.code) > 0">
                    <button
                            tuiButton
                            appearance="primary"
                            type="button"
                            size="m"
                            style="width: 100%"
                            (click)="orderService.add(sushi.code)"
                    >+
                    </button>
                    <tui-input-number
                            [tuiTextfieldSize]="'m'"
                            [ngModel]="orderService.getQte(sushi.code)"
                            [readOnly]="true"
                            style="width: 100%">
                        <input
                                tuiTextfield
                                style="text-align: center; display: flex; justify-content: center; align-items: center; padding: 0; font-size: 1.5rem;"
                        />
                    </tui-input-number>
                    <button
                            tuiButton
                            appearance="accent"
                            type="button"
                            size="m"
                            style="width: 100%"
                            (click)="orderService.remove(sushi.code)"
                    >-
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
