<div style="display: flex; padding-bottom: 3.5rem">
    <ng-container *ngIf="sushiList">
        <tui-accordion class="container" style="width: 100%">
            <tui-accordion-item *ngFor="let item of sushiList; let i = index">
                {{ item.code }}
                <ng-template tuiAccordionItemContent>
                    <tui-carousel
                            class="carousel"
                            [(index)]="indexes[i]"
                    >
                        <ng-container *ngFor="let sushi of item.produits">
                            <div *tuiItem
                                 style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 1rem; width: 80vw;">
                                <img [src]="'https://83.easysushi.fr/images/commander/' + sushi.img" [alt]="sushi.nom" style="height: 8rem; box-shadow: 2px 2px 5px rgba(0,0,0,0.2);">
                                <h3 style="margin: 0.5rem 0; text-align: center" [innerHTML]="sushi.nom"></h3>
                                <p style="margin: 0.5rem 0;">{{ sushi.cdt }} - Prix:
                                    <tui-money [value]="sushi.prix" currency="EUR"></tui-money>
                                </p>
                                <div style="margin-top: 0.5rem;">
                                    <button
                                            tuiButton
                                            appearance="primary"
                                            type="button"
                                            shape="rounded"
                                            size="m"
                                            style="width: 10rem"
                                            *ngIf="orderService.getQte(sushi.code) === 0"
                                            (click)="orderService.add(sushi.code)"
                                    >
                                        Ajouter
                                    </button>
                                    <div
                                            tuiGroup
                                            class="group"
                                            [collapsed]="true"
                                            [rounded]="true"
                                            style="width: 10rem"
                                            *ngIf="orderService.getQte(sushi.code) > 0">
                                        <button
                                                tuiButton
                                                [icon]="tuiIconMinus"
                                                appearance="accent"
                                                type="button"
                                                size="m"
                                                style="border-top-left-radius: 2em; border-bottom-left-radius: 2em; margin-right: 0;"
                                                (click)="orderService.remove(sushi.code)"
                                        ></button>
                                        <tui-input-number
                                                [tuiTextfieldSize]="'m'"
                                                [ngModel]="orderService.getQte(sushi.code)"
                                                [readOnly]="true">
                                            <input
                                                    tuiTextfield
                                                    style="text-align: center; display: flex; justify-content: center; align-items: center; padding: 0; font-size: 1.5rem;"
                                            />
                                        </tui-input-number>
                                        <button
                                                tuiButton
                                                [icon]="tuiIconPlus"
                                                appearance="primary"
                                                type="button"
                                                size="m"
                                                style="border-top-right-radius: 2em; border-bottom-right-radius: 2em; margin-right: 0;"
                                                (click)="orderService.add(sushi.code)"
                                        ></button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </tui-carousel>
                    <tui-pagination
                            size="s"
                            class="pagination"
                            [length]="sushiList[i].produits.length"
                            [(index)]="indexes[i]"
                            style="margin-top: 1rem"
                    ></tui-pagination>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </ng-container>
</div>
