<div class="welcome-container">
  <!-- Message pour le mercredi -->
  <div *ngIf="isWednesday">
    <h1 class="title-sushi">🍱 Coucou les collègues!</h1>
    <p>Mercredi = Sushis. Préparez-vous pour notre commande groupée habituelle. C'est presque l'heure !</p>
  </div>

  <!-- Message pour les autres jours -->
  <div *ngIf="!isWednesday">
    <h1 class="title-sushi">🍣 Salut l'équipe!</h1>
    <p>Envie de sushis aujourd'hui ? Rejoignez-nous pour une commande groupée !</p>
  </div>

  <div *ngIf="!isWednesday && countdown">
    <p style="text-align: center">
      Prochaine commande "mercredi sushi" dans : <br>
      <strong>
        {{ countdown.days }}j
        {{ countdown.hours }}h
        {{ countdown.minutes }}m
        {{ countdown.seconds }}s 🍣
      </strong>
    </p>
  </div>

  <div style="flex-grow: 1; height: 100%"></div>

  <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 0.5rem">
    <a style="width: 100%;" tuiButton routerLink="/order-history">Historique</a>
    <a style="width: 100%;" tuiButton routerLink="/group">Commencer</a>
  </div>
</div>
