.welcome-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1rem;
}

button {
  margin-top: 2rem;
}

.emoji-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.emoji {
  font-size: 2rem;
  margin: 0.5rem;
}

.title-sushi {
  font-size: 1.75rem;
  margin-bottom: 3rem;
  text-align: center;
}

@media (max-width: 600px) {
  .welcome-container {
    font-size: 1.2rem; /* Ajustez cette valeur selon vos préférences. */
    line-height: 1.5; /* Augmentez l'espacement des lignes pour éviter le chevauchement. */
  }
}

